@{
    ViewData["Title"] = "About";
}

<h1>Webówka od zera. Polecam!</h1>
<a href="https://www.youtube.com/channel/UCzn6vAfspIcagLax1fck_jw">https://www.youtube.com/channel/UCzn6vAfspIcagLax1fck_jw</a>
